* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  touch-action: manipulation;
}

.calculator {
  position: absolute;
  width: 345px;
  height: 650px;
  padding: 35px 19px;
  background: black;
  border-radius: 52px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  column-gap: 17px;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  height: 150px;
  padding-left: 19px;
  padding-right: 21px;
  grid-column: span 4;
  width: 100%;
  color: white;
  font-weight: lighter;
  font-size: 7.6rem;
}

.screen.small-textp {
  font-size: 6.6rem;
}

.screen.small-text1 {
  font-size: 6.2rem;
}

.screen.small-text2 {
  font-size: 5.5rem;
}

.screen.small-text {
  font-size: 5rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 0;
  padding: 10px;
  grid-column: span 1;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  font-size: 2.8rem;
  color: white;
  background: #333;
  border: none;
  cursor: pointer;
}

.btn:active {
  background: #666;
}

.gray-btn:active {
  background: #ddd;
}

.yellow-btn:active {
  background: rgb(255, 221, 158);
}

.zero-btn {
  justify-content: flex-start;
  padding: 0 0 0 23px;
  grid-column: span 2;
  border-radius: 999px;
  width: 100%;
  text-align: left;
}

.dot-btn {
  color: transparent;
  position: relative;
}

.dot-btn::after {
  content: ",";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gray-btn {
  background: #b6b6b6;
  color: black;
}

.yellow-btn {
  background: orange;
}

.active-operation {
  background: white;
  color: orange;
}
